@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.iframe {
  justify-content: center;
  position: relative;
  width: 80% ;
  height: 1000px;  
  border: 2;        
}

h1 {
  display: flexbox;
  font-family: 'Montserrat', sans-serif;
}
